{% extends 'admin.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12 table-bordered shadow">
            <h1>Agent</h1>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ agent.email }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ agent.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ agent.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Cin</th>
                        <td>{{ agent.cin }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}