<h1>mot de passe oblié</h1>

<p>Pour réinitialiser votre mot de passe, cliquez ici!</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Auto-Entrepreneur</p>
