{% extends 'base.html.twig' %}

{% block title %}Edit AttestationChiffreAffaire{% endblock %}

{% block body %}
    <h1>Edit AttestationChiffreAffaire</h1>

    {{ include('attestation_chiffre_affaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attestation_chiffre_affaire_index') }}">back to list</a>

    {{ include('attestation_chiffre_affaire/_delete_form.html.twig') }}
{% endblock %}
