{% extends 'admin.html.twig' %}

{% block title %}Modifier mot de passe Admin{% endblock %}

{% block body %}
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h1>Modifier mot de passe</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <!-- Contact Form -->
            <div class="col-md-6 col-sm-6 col-xs-12 bg-light">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{form_widget(form)}}
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Modifer votre mot de passe</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <!--/ End Contact Form -->
    </div>
</section>
{% endblock %}