{% extends 'base.html.twig' %}

{% block title %}QUI SOMMES-NOUS
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<section id="projects" class="projects section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Qui sommes-nous</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <section id="testimonials" class="testimonials section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-carousel">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-content">
                                            <i class="fa fa-quote-left"></i>
                                            <p>Auto-entrepreneur est le partenaire référent des Auto-Entrepreneurs. Nous proposons une offre de services complète pour répondre à l’ensemble des besoins des Auto-Entrepreneurs : création, gestion, développement et arrêt de l’activité. Notre objectif est d’accompagner les Auto-Entrepreneurs vers la réussite entrepreneuriale. Pour ce faire, nous facilitons l’Auto-Entrepreneuriat en rendant accessible toutes les informations importantes sur le statut Auto-Entrepreneur, et nous mettons à votre disposition tous les outils pour démarrer facilement et rapidement votre activité indépendante et la gérer très simplement en automatisant tout ce qui peut l’être pour vous faire gagner du temps et vous permettre de vous concentrer sur l’essentiel : votre activité et vos clients !</p>
                                        </div>
                                        <div class="testimonial-info">
                                            <span class="arrow"></span>
                                            <img src="{{ asset('images/apropos.png') }}" alt="" />
                                            <h6>Auto Entrepreneur</h6>
                                        </div>
                                    </div>
                                    <!--/ End Single Testimonial -->
                                    <!--/ End Single Testimonial -->
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-content">
                                            <p></p>
                                        </div>
                                        <div class="testimonial-info">
                                        </div>
                                    </div>
                                    <!--/ End Single Testimonial -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!--/ End Project -->

<!--/ End Testimonial -->
{% endblock %}