{% extends 'admin.html.twig' %}

{% block title %}Edit Activite{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 col-xs-12 shadow">
        <h1 class="text-center">Modifier Activité</h1>
        {{ include('activite/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>
{% endblock %}