{% extends 'admin.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}
    <div class="row justify-content-center">        
        <div class="col-md-6 col-sm-12 col-xs-12 shadow">
            <h1 class="text-center">Ajouter Activité</h1>
            {{ include('activite/_form.html.twig', {'button_label': 'Ajouter'}) }}
        </div>
    </div>
{% endblock %}
