{% extends 'base.html.twig' %}

{% block title %}Entrepreneur{% endblock %}

{% block body %}
<section class="error-page section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <!-- Error Inner -->
                <div class="error-inner">
                    <h1>404<span>Page introuvable</span></h1>
                </div>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>
{% endblock %}